extends ../../../../node_modules/styleguide/src/pug/atomic/template/modules

block headline
  | Allgemeine Informationen

block modules
  .container
    table.styleguide-table
      thead
        tr
          th(colspan="2") #{ packageJson.description } - v.#{ packageJson.version }
      tbody
        tr.styleguide-table__level2
          td Versionsverwaltung
          td
            a(href= packageJson.repository.url)
              = packageJson.repository.url
        tr.styleguide-table__level1
          td Pr채sentationssysteme
          td
        tr.styleguide-table__level2
          td Prototyp
          td
            a(href= packageJson.homepage)
              = packageJson.homepage
        tr.styleguide-table__level2
          td Styleguide
          td
            a(href= packageJson.homepage + '/styleguide')
              = packageJson.homepage + '/styleguide'

        tr.styleguide-table__level1
          td Autor
          td
        tr.styleguide-table__level2
          td= packageJson.author.name
          td= packageJson.author.email

        if( packageJson.contributors )
          tr.styleguide-table__level1
            td Entwickler
            td

          each contributor in packageJson.contributors
            tr.styleguide-table__level2
              td= contributor.name
              td= contributor.email

        tr.styleguide-table__level1
          td Abh채ngigkeiten f체r die Entwicklungsumgebung
          td
        each version, dep in packageJson.devDependencies
          tr.styleguide-table__level2
            td= dep
            td= version

        tr.styleguide-table__level1
          td Abh채ngigkeiten
          td
        each version, dep in packageJson.dependencies
          tr.styleguide-table__level2
            td= dep
            td= version

